# Python
__pycache__/
*.pyc

# venv 仮想環境
venv/
env/

# 環境変数ファイル
.env

# エディタ
.vscode/

# exeファイル
*.exe

# Visual Studioの設定ファイル（あなたの道具）
.vs/
*.sln
*.suo
*.user

# IIS設定ファイル
Web.config

# ライブラリインストール用ファイル
requirements.txt

# ログファイル
*.log

# バックアップファイル
*BK*
